*{
    padding:0;
    margin:0;
    list-style-type: none; 
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
}
/* principales couleurs 

rouge : #901C1C
ROUGE NOM ARTISTE : #D3573C
ORANGE : #DB8876
BLANC : #525252 
GRIS : #FAFAFA

*/
#position {
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    margin-bottom: 50px;
}

header ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}
header ul a{
    text-decoration: none;
    border: 1px solid lightgrey;
    border-radius: 25px;
    padding: 4px 8px;
    color:#901C1C;
}
header img{
    width: 200px;
    margin: 20px 10px;
}
h1 {
    position: absolute;
    top: 35px;
    right: 40px;
    color: #901C1C;
    margin-right: 20px;
}

main{
    margin: 0 20px;
}

/* Bouton scroll *** */

a#main-link {
    color: #000;
    background: #DB8876;
    width: 180px;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    display: none; 
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 8px;
}

/* Section des photographers */ 

#photographers{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 850px;
    margin-top: 60px;
}

article {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
    width: 50%;
}
article a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article p {
    margin-bottom: 10px;
}

#photographers img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
#photographers img:hover{
    box-shadow: 4px 6px 16px rgb(0 0 0 / 25%);
    transform: scale(1.1);
    transition: 300ms;
}

#photographers h2{
    color: #D3573C ;
    display: flex;
    justify-content: center;
    font-size: 36px;
}

#photographers .location{
    color: #901C1C;
    font-size: 15px;
    /*font-size: 16px meilleur size */
}

#photographers .tagline{
    font-size: 13px;
}

#photographers .price{
    color: #757575 ;
    font-size: 12px;
    /*font-size: 15px  meilleur size */
}

#photographers ul{
    display: flex;
}
#photographers li{
    border: 1px solid lightgrey;
    border-radius: 25px;
    padding: 2px 6px;
    color: #901C1C;
    margin: 2px;
    font-size: 12px;
}

/* Responsive */ 

@media screen and (min-width: 1150px) {

    #position{
        margin-top: 40px;
    }
    header{
        margin: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 370px);
    }
    header img{
        width: 200px;
        margin: 10px 30px 10px 50px;
    }
    h1{
        font-size: 30px;
        top: 20px;
        right: 40px;
    }
    article {
        width: 33%;
    }
}
@media screen and (max-width: 700px) {

    h1{
        font-size: 20px;
    }
    article {
        width: 100%;
    }
    header ul a{
        padding: 1px 6px;
        font-size: 14px;
    }
}
@media screen and (max-width: 500px) {

    h1{
        font-size: 15px;
        margin: 0;
    }
    header img{
        width: 152px;
    }
    #position{
        margin: 5px;
    }
    #position{
        padding: 0;
    }
    h1{
        right: 10px;
    }
    #photographers h2{
        font-size: 31px;
    }

}


    
